<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc68.mapper.UserMapper">
    <!--这个id时唯一的表示这个SQL语句-->
   <select id="select" resultType="com.cc68.pojo.User" parameterType="com.cc68.pojo.User">
       select account,password from t_users where account = #{account};
   </select>

    <select id="selectAll" resultType="com.cc68.pojo.User">
        select account,password from t_users;
    </select>

    <delete id="delete" parameterType="com.cc68.pojo.User">
        delete from t_user where account = #{account};
    </delete>

    <update id="update" parameterType="com.cc68.pojo.User">
        update t_users set password=#{password} where account = #{account};
    </update>

    <insert id="insert" parameterType="com.cc68.pojo.User">
        insert into t_users(account,password) values (#{account},#{password});
    </insert>
</mapper>