<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.cc68.service.imp"/>
    <context:component-scan base-package="com.cc68.handle.imp"/>
    <context:component-scan base-package="com.cc68.heartbeat.imp"/>
    <context:component-scan base-package="com.cc68.manager.imp"/>
    <context:component-scan base-package="com.cc68.pool.imp"/>
    <context:component-scan base-package="com.cc68.timeout.imp"/>
    <context:component-scan base-package="com.cc68.action.imp"/>

    <context:property-placeholder location="jdbc.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="config.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="handles.properties" ignore-unresolvable="true"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.account}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.cc68.pojo.User"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cc68.mapper"/>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>
    <bean id="messageHandleManager" class="com.cc68.manager.imp.MessageHandleManagerImp" init-method="init">
        <property name="server" ref="server"/>
        <property name="service">
            <map key-type="java.lang.String" value-type="com.cc68.handle.Handle">
                <entry key="login" value-ref="loginHandle"/>
                <entry key="connect" value-ref="connectHandle"/>
                <entry key="logout" value-ref="logoutHandle"/>
                <entry key="register" value-ref="registerHandle"/>
                <entry key="getUser" value-ref="getUserHandle"/>
                <entry key="send" value-ref="sendHandle"/>
                <entry key="messageLoad" value-ref="messageLoadHandle"/>
            </map>
        </property>
    </bean>

    <bean id="userActionManager" class="com.cc68.manager.imp.UserActionManagerImp">
        <property name="server" ref="server"/>
        <property name="map">
            <map>
                <entry key="login" value-ref="loginTimeout"/>
            </map>
        </property>
    </bean>

    <bean id="actionManager" class="com.cc68.manager.imp.ActionManagerImp">
        <property name="server" ref="server"/>
        <property name="action">
            <map>
                <entry key="userUpdateBroadcast" value-ref="userUpdateBroadcastAction"/>
            </map>
        </property>
    </bean>
</beans>